.custom-grid-margin {
    margin: 4px;
}

._title{
    font-size: 1.2rem;
}

.sapUiLoSplitter .sapUiLoSplitterContent {
    overflow: auto;
}

.customTextSize {
    font-size: 1.2rem;
}

.customTextStyle {
    font-size: 18px;
}

.lessHeight {
    align-content: stretch;
    height: 10rem !important;
}